body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.music-player {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.music-info {
    margin-bottom: 20px;
}

.music-info h2, .music-info h3 {
    margin: 0;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 1.5em;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004085;
}
